[submodule "runtime/bundle/vim-coffee-script"]
	path = runtime/bundle/vim-coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "runtime/bundle/vim-flake8"]
	path = runtime/bundle/vim-flake8
	url = git://github.com/nvie/vim-flake8.git
